/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* Fine regole generali */

/* Inizio regole header */
header {
    width: calc(100% - 50px);
    height: 80px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

.header-button {
    position: absolute;
    right: 20px;
    top: 30px;
    bottom: 30px;
}
/* Fine regole header */

/* Inizio regole aside */
aside {
    width: 50px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: chocolate;
}
/* Fine regole aside */

/* Inizio regole main */
main {
    width: calc(100% - 50px);
    height: calc(100vh - 70px);
    background-color: cyan;
}
/* Fine regole main */

/* Inizio regole footer */
footer {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: darkcyan;
}
/* Fine regole footer */
