/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background-color: black;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.display-none {
    display: none;
}

span.display-none {
    font-size: 1rem;
    color: #80848a;
    transform: scale(1,0.9);
    margin-left: 10px;
}
/* Fine regole generali */

/* Inizio regole header */
header {
    width: calc(100% - 50px);
    height: 70px;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

header .header-button {
    margin-left: calc(100% - 220px);
}

.header-button a {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1.5px solid white;
    border-radius: 15px;
}

/* Fine regole header */

/* Inizio regole aside */
aside {
    width: 50px;
    height: calc(100vh - 70px);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

aside div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside div a {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

aside div a i {
    color: #d2d2d2;
}

.bottom-zero-aside {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    /* Inizio Logo */
.logo-aside a {
    font-size: 2.1rem;
    margin-top: 5px;
}

.logo-aside a i {
    color: white;
}

.logo-aside a span {
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
}
    /* Fine Logo */

.icons-aside a span.search {
    margin-left: 11px;
}    

    /* Inizio playlist nascosta per telefoni */
.playlists h3 {
    text-transform: uppercase;
    font-size: 1rem;
    transform: scale(1,0.9);
    margin: 15px 0 5px;
}

.playlists a {
    font-size: 0.9rem;
    color: #80848a;
    transform: scale(1,0.9);
    margin: 10px 0;
}

.playlists a i {
    color: black;
    background-color: #80848a;
    font-size: 1.6rem;
    display: inline-block;
    width: 32px;
    line-height: 36px;
    text-align: center;
    vertical-align: sub;
    transform: scale(1);
    margin-right: 10px;
}

.playlists ul li input {
    background-color: transparent;
    border: none;
    color: #80848a;
    margin: 5px 0;
}

.playlists ul li input:hover {
    cursor: pointer;
}

input[type=text]:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;   
}
    /* Fine playlist nascosta per telefoni */

    /* Inizio icone account */
.account-aside a:first-child {
    font-size: 0.9rem;
}

.account-aside a:first-child span {
    font-size: 0.8rem;
}

.account-aside hr {
    width: 160px;
    margin: 0 0 10px;
    color: #80848a;
    opacity: 0.5;
}

.account-aside a:last-child span {
    color: white;
    font-weight: 700;
}
    /* Fine icone account */
/* Fine regole aside */

/* Inizio regole main */
main {
    width: calc(100% - 50px);
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: #141922;
}

.top-main {
    padding: 80px 0 0;
}

    /* Inizio barra di navigazione */
.top-main nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-main nav ul li {
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 0.7rem;
    white-space: nowrap;
    margin-bottom: 10px;
    margin: 0 3%;
}

.top-main nav ul li a {
    color: #80848a;
}
    /* Fine barra di navigazione */

    /* Inizio titoli categorie */
.categories {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    font-size: 0.9rem;
    transform: scale(1,0.9); 
}

.categories .name-artist {
    margin: 5px 0 0;
}
    /* Fine titoli categorie */

    /* Inizio artisti */
main {
    overflow-y: auto;
    overflow-x: hidden;
}

main .container-artists:last-child {
    margin-bottom: 20px;
}

.container-artists{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.artists {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.img-album {
    width: 100%;
    height: auto;
}

.img-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-album { /* Titoli nome album */
    font-size: 0.7rem;
    transform: scale(1,0.9); 
    margin: 10px 0 3px;
}

.name-artist { /* Titoli nomi artisti */
    font-size: 0.65rem;
    transform: scale(1,0.9); 
    color: #80848a;
}

    /* Fine artisti */
/* Fine regole main */

/* Inizio regole footer */
footer {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 53, 53);
}

.left-footer, .right-footer, .buttons-play, .status-track {
    display: flex;
    align-items: center;
}

.info-artist, .icons-footer, .central-footer {
    display: flex;
    flex-direction: column;
}

    /* Inizio left footer */
.left-footer {
    height: 100%;
}

.left-footer .img-album {
    width: auto;
    height: 50%;
    margin: 0 0.9vw;
}

.info-artist {
    font-size: 0.55rem;
}

.info-artist h4, .status-track span {
    font-size: 0.7rem;
}

.icons-footer {
    font-size: 0.8rem;
    margin-left: 10px;
}

.icons-footer a:first-child {
    margin-bottom: 4px;
}
    /* Fine left footer */

    /* Inizio central footer */
.central-footer {
    align-items: center;
}

.central-footer div:last-child {
    margin-top: 7px;
}

.buttons-play a {
    padding: 0 7px;
}

#play-circle {
    font-size: 1.3rem;
}

#track-situation {
    width: 20vw;
    margin: 0 5px;
}
    /* Fine central footer */

    /* Inizio right footer */
.right-footer a {
    padding: 0 5px;
    font-size: 0.7rem;
}

#volume {
    width: 10vw;
    margin-right: 5px;
}
    /* Fine right footer */
/* Fine regole footer */


/* ----------------------------------------------
------------------------------------------------- */
/* MEDIAQUERY */

@media (min-width: 552px) {

    .top-main nav ul li {
        margin: 0 2%;
    } 
}

@media (min-width: 639px) {

    .display-none {
        display: block;
    }

    /* Inizio aside */
    aside {
        width: 200px;
        align-items: flex-start;
    }

    aside div, .bottom-zero-aside {
        align-items: flex-start;
        margin-left: 20px;
    }

    div.bottom-zero-aside {
        margin-left: 0px;
    }

    aside div a {
        display: flex;
        align-items: center;
    }

    aside div.icons-aside a {
        font-size: 1.1rem;
    }

    div.logo-aside {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .account-aside a:first-child {
        margin-left: 7px;
    }
    /* Fine aside */

    /* Inizio main */
    main {
        width: calc(100% - 200px);
    }
    /* Fine main */

}

@media (min-width: 878px) {
    
}

@media (min-width: 1440px) {
    
}